@page
@model CoreAzureWeb.Views.Index

@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <title>Index Title</title>
</head>
<body>
<div>
    <h1>Index</h1>
    <h2>Welcome</h2>
</div>
</body>
</html>