@model CoreAzureWeb.Models.ContactViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Contact Us";
}

<div>
    <p>
        Thank you for filling out our Contact Us form @Model.Name.
    </p>
</div>